
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 70%;
}

.content-div{
    padding: 10px 30px 10px 0;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.details{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.title{
    font-weight: 600;
    margin-bottom: 10px;
}

.btn{
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    border-style: none;
    border: 1.5px solid rgb(172, 167, 167);
    padding: 5px 10px;
    border-radius: 5px;
}

.btn:hover{
    background-color: #000;
    color: #fff;
}

span{
    margin-left: 4rem;
}

.total{
    padding: 20px;
   text-align: center;
}

@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .content-div{
        padding: 30px;
    }
    
}